html { box-sizing: border-box; } *, *::before, *::after { box-sizing: inherit; }
body{
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    margin 20px auto; 
    background-color: blueviolet;
    padding: 20px;
}
h1{
    font-size: x-large;
    color: white;
    text-transform: uppercase;
}
h2{
    border-bottom: 2px solid rgb(0, 0, 0);
}
p{line-height: 1.5;
    
    }
ul{
    list-style-type: none;
padding-left: 0%;
}

