* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.grid {
  width: 748px;
  height: 748px;
  display: grid;
  background: black;      
  gap: 9px;               
  
  grid-template-columns: 320px 198px 153px 50px;
  grid-template-rows: 414px 130px 155px 20px;
}

.red {
  background: #e6302b;
  grid-area: 1 / 1 / 2 / 2;
}

.white-top {
  background: #F0F1EC;
  grid-area: 1 / 2 / 2 / 5;
}

.white-left {
  background: #F0F1EC;
  grid-area: 2 / 1 / 4 / 2;
}

.white-bottom-left {
  background: #F0F1EC;
  grid-area: 4 / 1 / 5 / 2;
}
.white-bottom-right {
  background: #F0F1EC;
  grid-area: 3 / 4 / 5 / 5;
}


.white-main {
  background: #F0F1EC;
  grid-area: 2 / 2 / 4 / 4;
}

.blue {
  background: #004592;
  grid-area: 2 / 4 / 3 / 5;
  border-bottom: 10px solid #000000;
}

.yellow {
  background: #f9d01e;
  grid-column: 2/3;
  grid-row: 4/5;
}

.black {
  background: #232629;
  grid-column-start: 3;
  grid-row-start: 4;
  grid-column-end: 4;
  grid-row-end: 5;
}
