* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}
.grid {
  width: 748px;
  height: 748px;
  display: grid;
  background: black;
  gap: 9px;
  padding: 9px;
  grid-template-columns: 320px 1fr 50px;
  grid-template-rows: 414px 1fr 20px;
}
.red {
  background: #e6302b;
}

.white-top {
  grid-column: 2 / 4;
  background-color: white;
}

.white-left {
  grid-row: 2 / 4;
  background-color: white;
}

.white-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: white;
}

.white-bottom-right {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
    background-color: white;
}

.blue {
  background: #004592;
  border: 1px solid black;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.yellow {
  background: #f9d01e;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.black {
  background: #232629;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}