* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.grid {
  width: 748px;
  height: 414px;
  display: grid;
  background: black;
  grid-template-columns: 320px 9px 419px;
  grid-template-rows: 414px 9px 20px;
}

.red {
  background: #e6302b;
  grid-area: 1 / 1 / 4 / 2;
}

.white-top {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #f0f1ec;
}

.white-left {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #f0f1ec;
}

.white-main {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #f0f1ec;
}

.white-bottom-right {
  grid-area: 2 / 3 / 4 / 4;
  background-color: #f0f1ec;
}

.blue {
  background: #004592;
  grid-area: 2 / 3 / 3 / 4;
}

.yellow {
  background: #f9d01e;
  grid-area: 3 / 3 / 4 / 4;
}

.black {
  background: #232629;
  grid-area: 3 / 3 / 4 / 4;
  height: 20px;
  width: 153px
}